<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="production" class="org.apache.log4j.RollingFileAppender">
        <param value="/home/tamasuper/apache-tomcat-7.0.22/logs/tama-reports.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="immediateFlush" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] [%c] [%p] [ThreadId:%t] - %m%n"/>
        </layout>
    </appender>
    <logger name="org.springframework">
        <level value="warn"/>
    </logger>
    <logger name="org.motechproject">
        <level value="info"/>
    </logger>
    <logger name="org.motechproject">
        <level value="all"/>
        <appender-ref ref="adminEmail"/>
    </logger>
    <root>
        <priority value="warn"/>
        <appender-ref ref="production"/>
    </root>

    <appender name="adminEmail" class="org.motechproject.web.logger.EmailAppender">
        <param name="BufferSize" value="512"/>
        <param name="SMTPHost" value="gmail-smtp-in.l.google.com"/>
        <param name="From" value="motech.ivr@thoughtworks.com"/>
        <param name="To" value="tamasupport@thoughtworks.com"/>
        <param name="Subject" value="TAMA Reports Error from QA | "/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error"/>
            <param name="LevelMax" value="fatal"/>
        </filter>
    </appender>

</log4j:configuration>
