<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.RollingFileAppender" name="logfile">
        <param value="/home/tamasuper/apache-tomcat-7.0.22-primary/logs/tama.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>

    <appender name="adminEmail" class="org.motechproject.web.logger.EmailAppender">
        <param name="BufferSize" value="512"/>
        <param name="SMTPHost" value="gmail-smtp-in.l.google.com"/>
        <param name="From" value="motech.ivr@thoughtworks.com"/>
        <param name="To" value="tamasupport@thoughtworks.com"/>
        <param name="Subject" value="TAMA Error from QA | "/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error"/>
            <param name="LevelMax" value="fatal"/>
        </filter>
    </appender>
    
    <logger name="org.springframework">
        <level value="error"/>
    </logger>

    <logger name="org.ektorp">
        <level value="error"/>
    </logger>

    <logger name="org.apache">
        <level value="error"/>
    </logger>

    <logger name="org.quartz">
        <level value="error"/>
    </logger>

    <logger name="org.motechproject">
        <level value="info"/>
        <appender-ref ref="logfile"/>
        <appender-ref ref="email"/>
    </logger>

    <root>
        <level value="all"/>
        <appender-ref ref="logfile"/>
        <appender-ref ref="email"/>
    </root>

</log4j:configuration>
