<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.RollingFileAppender" name="logfile">
        <param value="/home/tamasuper/apache-tomcat-7.0.22/logs/tama.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>

    <appender name="email" class="org.motechproject.web.logger.EmailAppender">
        <param name="SMTPHost" value="gmail-smtp-in.l.google.com"/>
        <param name="From" value="balajin@thoughtworks.com"/>
        <param name="To" value="tamasupport@thoughtworks.com"/>
        <param name="Subject" value="TAMA Error from prod | "/>
        <param name="BufferSize" value="50"/>
        <param name="threshold" value="error"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ddMMyyyy HH:mm:ss} %-5p [%c{1}] [ThreadId:%t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="error" />
            <param name="levelMax" value="fatal" />
        </filter>
    </appender>

    <logger name="org.springframework">
        <level value="error"/>
    </logger>

    <logger name="org.ektorp">
        <level value="error"/>
    </logger>

    <logger name="org.apache">
        <level value="error"/>
    </logger>

    <logger name="org.quartz">
        <level value="error"/>
    </logger>

    <logger name="org.motechproject">
        <level value="info"/>
        <appender-ref ref="logfile"/>
        <appender-ref ref="email"/>
    </logger>

    <root>
        <priority value="info"/>
        <appender-ref ref="logfile"/>
    </root>

</log4j:configuration>
